.errorText{
    color:red;
}

/* highest level form container */
.formContainer{
    display: flex;
    flex-direction: row;
}

/*registered vs guest */
.formSection{
    width: 50%;
    display: flex;
    flex-direction: column;
}

/* individual label/input tag items

}
*/